## ETL: Union Transformation

This transformation is meant to union/merge all the excel files we have generated over time to track the coronavirus. In our case we have data we collected on the 2nd and the 3rd of April and which follow a common naming convention.

In [76]:
#import the libraries of interest

import pandas as pd
import os, re

In [77]:
#create an empty dataframe

historical_cases_data= pd.DataFrame()

In [78]:
#create a list of the files in the directory

case_files=os.listdir('.')

#### Union Transformation Steps: 

1. Loop through the files to read them into the staging_data dataframe
2. Leverage the re library to specify files that start with/match the naming convention used ('cases_')
3. Append the data in the staging_data dataframe to the empty dataframe created initially (Union Transform)
4. Validate the final dataset using the head and tail functions

In [79]:
for file in case_files:
    if re.match('cases_', file):
        staging_data=pd.read_excel(file, index_col=[0])
        historical_cases_data=historical_cases_data.append(staging_data)

In [80]:
#use the head/tail function to validate

historical_cases_data.tail()

,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious/Critical,Tot Cases/1M pop,Tot Deaths/1M pop,Date
"Country, Other",,,,,,,,,,
St. Vincent Grenadines,2,NaN,,NaN,1,1,NaN,18,NaN,04/03/2020
Sierra Leone,2,NaN,,NaN,NaN,2,NaN,0.3,NaN,04/03/2020
Papua New Guinea,1,NaN,,NaN,NaN,1,NaN,0.1,NaN,04/03/2020
Timor-Leste,1,NaN,,NaN,NaN,1,NaN,0.8,NaN,04/03/2020
China,"81,620",31,"3,322",4.0,"76,571","1,727",379,57,2.0,04/03/2020